@{
    Layout = "../Shared/SiteLayout.cshtml";
}

<p>This is a Users Management application in ASP.NET MVC</p>
<p>This system is designed and developed by Software Engineering students at FMI Plovdiv</p>