<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <table style="width:100%">
            <tr>
                <td>
                    <h1 style="float:left;">User Manager</h1>
                    <div style="float:right;">
                        Hello, 
                        <span style="font-weight:bold;">
                            @(Session["loggedUser"]  ?? "Anonymous")
                        </span>
                        @if (Session["loggedUser"] == null)
                        {
                            <a style="margin:0 10px;" href="/Home/Login">Login</a>
                        }
                        else
                        {
                            <a style="margin:0 10px;" href="/Home/Logout">Logout</a>
                        }
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <ul style="list-style:none;">
                        <li style="float:left; margin:0 10px;">
                            <a href="/Home/Index">Home</a>
                        </li>
                        <li style="float:left; margin:0 10px;">
                            <a href="/Users/Index">Users</a>
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    @RenderBody()
                </td>
            </tr>
        </table>
    </div>
</body>
</html>